.purchase {
	padding: 0.5rem;
	background: var(--ord-light);
	border-radius: 15px;
	display: flex;
	gap: 15px;
	&--image {
		width: 50px;
	}
	&--title {
		font-weight: bold;
	}
	&--price {
		align-self: center;
		flex: 2;
		text-align: end;
	}
}
