@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700;800&display=swap");

:root {
	--ord-primary: #5187d8;
	--ord-secondary: #dc3545;
	--ord-red: #ce2334;
	--ord-orange: #fd7e14;
	--ord-yellow: #ffc107;
	--ord-green: #198754;
	--ord-teal: #20c997;
	--ord-cyan: #0dcaf0;
	--ord-white: #fff;
	--ord-gray: #6c757d;
	--ord-light-gray: #f5f5f5;
	--ord-gray-dark: #343a40;
	--ord-light: #f8f9fa;
	--ord-dark: #212529;
	--ord-roboto: "Roboto", sans-serif;
	--ord-baloo: "Baloo 2", cursive;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--ord-roboto);
}
